.trip{
    font-weight: bold;
    font-size: 68px;
    position: relative;
    top: 36px;
    left: 516px;
    font-family: sans-serif;
}

.hr{
    position: relative;
    top: -40px;
    left: -320px;
    width: 122px;
}

.hr2{
    position: relative;
    top: -53px;
    right: -240px;
    width: 139px;
}

  }
  
.symbol{
    position: relative;
    top: -10px;
    left: -534px; 
    color: tomato;
}
.box{
    height: 320px;
    width: 280px;
    border: 2px solid tomato;
    border-radius: 6px;
    position: relative;
    top: 16px;
    left: 606px;
}
.box1{
    font-size: 34px;
    color: tomato;
    position: absolute;
    top: 200px;
    left:660px;
    font-family: sans-serif;
}
.hr4{
    position: absolute;
    top: 250px;
    left: 640px; 
    width: 256px;
}
.box2{
    font-size: 25px;
    color: tomato;
    position: absolute;
    top: 290px;
    left: 670px;
    font-family: sans-serif;
    text-decoration: line-through;
    font-weight: bold; 
}
 .form{
    font-size: 25px;
    color: #424242;
    position: absolute;
    top: 360px;
    left: 670px;
    font-family: sans-serif;
}

.parent2{
    z-index: -1;
    filter: blur(5px);
}
.child{
    position: absolute;
    top: 260px;
    left: 490px;
    background-color: white;