.trip{
    font-weight: bold;
    font-size: 68px;
    position: relative;
    top: 36px;
    left: 516px;
    font-family: sans-serif;
}

.hr{
    position: relative;
    top: -40px;
    left: -320px;
    width: 122px;
}

.hr2{
    position: relative;
    top: -53px;
    right: -250px;
    width: 139px;
}

.back{
     position: relative;
    top: 2x;
    left: 220px;
    font-size: 37px;
    color: #716d6d;
    font-family: sans-serif;
}

.symbol{
    position: relative;
    top: -20px;
    left: -574px; 
    color: tomato;
}
.box{
    height: 320px;
    width: 280px;
    border: 2px solid tomato;
    border-radius: 6px;
    position: relative;
    top: 3px;
    left: 606px;
}
.box1{
    font-size: 34px;
    color: tomato;
    position: absolute;
    top: 270px;
    left:660px;
    font-family: sans-serif;
}
.hr4{
    position: absolute;
    top: 309px;
    left: 640px; 
    width: 256px;
}
.box2{
    font-size: 25px;
    color: tomato;
    position: absolute;
    top: 360px;
    left: 670px;
    font-family: sans-serif;
    text-decoration: line-through;
    font-weight: bold; 
}
 .form{
    font-size: 25px;
    color: #424242;
    position: absolute;
    top: 410px;
    left: 670px;
    font-family: sans-serif;
}
.box3{
    padding-top: 4%;
    border: 1px solid crimson;
    border-radius: 10px;
    width: 350px;
    margin: 20px;
    height: 300px;
    box-shadow: 8px 7px #b89a9a;
}
.span-style{
    border: 1px solid tomato;
    border-radius: 2px;
    font-size: 27px;
    border-radius: 23px;
    background-color: tomato;
    width: 28px;
    height: 28px;
    text-align: center;
    color: white;
    position: absolute;
    top: 100px;
    left: 220px;
}
.parent2{
    z-index: -1;
    filter: blur(5px);
}
.child{
    position: absolute;
    top: 260px;
    left: 490px;
    background-color: white;
}
.box4{
    border: 2px solid red;
    border-radius: 10px;
    width: 350px;
    height: 150px;
    text-align: center;
    box-shadow: 8px 7px #888888;
}
.before-after-line:before {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: #e74c3c;
    left: 20%;
    top: 50%;
    position: absolute;
}

.before-after-line:after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: #e74c3c;
    right: 20%;
    top: 50%;
    position: absolute;
}

.page-change{
   
    margin: auto;
    padding: 0.5rem 3rem;
    text-align: center;
    background-color: chocolate;
    border: 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: .75rem;
    display: block;
    width: 10vw;
    position: fixed;
    bottom: 10%;
    right: 0;
    left: 0;
    transition: background-color 1s;
}



.trip-flex-mobile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}